.tecnologias{
    display: flex;
    flex-flow: column;
    align-items: center;
    /* border: 2px solid white; */
    padding-top: 50px;
    padding-bottom: 100px;
    /* transform: translateX(-1400px) rotate(180deg);
    opacity: 0; */
}

.tecnologias h1{
    font-size: 2.5rem;
    padding-bottom: 100px;
}

.tecnologias .container{
    background-image: url('../../public/background.jpeg');
    background-size: cover;
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding: 100px;
    border-radius: 18px;
    box-shadow: 10px 10px 30px gray;
}

.tecnologias .container div {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 12px;
}

.tecnologias .container div p {
    font-size: 18px;
    font-weight: bold;
}


.html, .css, .react, .github2{
    width: 100px;
    transition: .5s;
}

.js{
    width: 86px;
    transition: .5s;
    
}

.html{
    background-color: #e95d26;
}

.html:hover, .css:hover, .react:hover, .js:hover, .github2:hover{
    transform: translateY(-10px);
}


@media (max-width: 801px){
    .tecnologias .container{
        /* border: 2px solid blue; */
        width: 90%;
        display: flex;
        justify-content: center;
        gap: 25px;
    }
}

@media (max-width: 401px){
    .tecnologias{
        /* border: 2px solid yellow; */
        margin-right: -240px;
    }

    .tecnologias .container{
        /* border: 2px solid blue; */
        width: 90%;
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}


